/* .doc-topics {
    margin: 5px;
    padding: 5px;
    background-color: green;
    width: 500px;
    height: 110px;
    overflow: auto;
    text-align: justify;
  } */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
body {
  font-family: "PT Serif", serif;
  display: flex;
  box-sizing: border-box;
  background-color: rgb(225, 225, 238);
}
hr {
  border: 1px solid rgb(121, 121, 121);
}
#doc-topics {
  border: 1px solid rgb(48, 47, 47);
  margin: 5px;
  padding-left: 5px;
  padding-right: 50px;
  background-color: rgb(200, 200, 216);
  width: 300px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: left;
  position: fixed;
  /* font-weight: bold; */
  /* ----- */
}
p {
  width: 65vw;
}
li {
  width: 60vw;
}
#main-doc {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 450px;
}
#doc-topics a {
  text-decoration: none;
  color: rgb(77, 75, 75);
  font-weight: 400;
}
main {
  display: flex;
  flex-direction: column;
}
header {
  margin-top: 30px;
  font-size: 36px;
  font-weight: bold;
}
#mdn {
  text-decoration: none;
  margin-left: 100px;
  color: brown;
}
.code-snippet {
  font-weight: 500;
  color: brown;
}
@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
  #doc-topics {
    border: 1px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 50px;
    background-color: lightgray;
    width: 300px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: scroll;
    /* white-space: nowrap; */
    text-align: left;
    position: static;
    font-weight: bold;
    /* ----- */
  }
  .main-doc {
    position: static;

    display: flex;
    flex-direction: column;
  }
  #doc-topics {
    width: 100%;
  }
}
